<template>
  <q-page class="flex flex-center">
    <h1>jaja vamos </h1>
  </q-page>
</template>

<script>
import { ref } from 'vue'
export default {
  name: 'IndexPage',
  setup() {
    const uno = ref(true)
    return {
      name: 'IndexPage',
      uno
    }
  }
}
</script>

