<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          App Cursos biblicos
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list>
        <q-item-label
          header
        >
          Cursos biblicos
        </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import EssentialLink from 'components/EssentialLink.vue'

const linksList = [
  {
    title: 'Hebreo',
    caption: 'quasar.dev',
    icon: 'school',
    link: 'curso-hebreo'
  },
  {
    title: 'Arameo',
    caption: 'github.com/quasarframework',
    icon: 'school',
    link: 'curso-arameo'
  },
  {
    title: 'Griego',
    caption: 'chat.quasar.dev',
    icon: 'school',
    link: 'curso-griego'
  },
  {
    title: 'Latin',
    caption: 'forum.quasar.dev',
    icon: 'school',
    link: 'curso-latin'
  }
]

export default defineComponent({
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  setup () {
    const leftDrawerOpen = ref(false)
    const maca = ref(false)

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      maca,
      toggleLeftDrawer () {
        leftDrawerOpen.value = !leftDrawerOpen.value
      }
    }
  }
})
</script>
